.main{
    position: relative;
    top: 20px;
    height: 100vh;
 
}
.heading{
    max-width:300px;
   
}
.row_text{
    margin-bottom: 30px;
}
.col_1{
    background: linear-gradient(rgb(199, 218, 255),rgba(255, 255, 255, 0.81));
    border: 1px solid rgb(141, 141, 226);
    font-size: 10px;
    width: auto;
    margin: 4px;
}
 .col_2, .col_3, .col_4, .col_5{
    font-size: 10px;
    width: auto;
    border: 1px solid rgb(107, 96, 96);
    margin: 4px;
}

.image img {
    width: 100%;
    max-width: 80%;
    height: auto;
    border: 1px solid black;
  }
  
  @media (max-width: 300px) {
    .image img {
      height: auto; 
    }
  }
  